<div class="ui secondary menu">
    <a class="item" href="/">Inventory</a>

    <a class="item" href="/login">Login</a>
    <a class="item" href="/signup">Sign Up</a>
    <a class="item" href="/boxes">Boxes</a>
    <a class="item" href="/sellers">Sellers</a>
</div>