<h1>Sellers</h1>
<a href="/sellers/new" class="ui button">new seller</a>

<table class="ui celled table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Boxes out</th>
        </tr>
    </thead>
    <tbody>
    {{#each sellers}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.boxes}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>