<h1>New Seller</h1>
<form action="/sellers" method="POST" class="ui form">
<div class="field">
    <label>name</label>
    <input type="text" name="name" id="name">
</div>
<div class="field">
    <label>email</label>
    <input type="text" name="email" id="email">
</div>
<div class="field">
    <button class="ui button" type="submit">Add User</button>
</div>
</form>