<h1>New Box</h1>
<form action="/boxes" method="POST" class="ui form">
<div class="field">
    <label>Seller</label>
    <select name="" id="">
        <option value="1">1</option>
        <option value="1">1</option>
    </select>
</div>
</form>