<h1>New Box</h1>
<form action="/boxes" method="POST" class="ui form">
<div class="field">
    <label>Seller</label>
    <select name="seller_id" id="seller_id">
        {{#each sellers}}
        <option value={{this._id}}>{{this.name}}</option>
        {{/each}}
    </select>
</div>
</form>