<div class="ui container space">
      <div class="ui basic padded segment">
        <h1 class="ui center aligned header">Login</h1>
        <p class="ui small header">New here?
          <a href="/signup">Sign Up</a>
        </p>
        <form class="ui form" action="/login" method="POST">
          <div class="required field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" autocomplete="email" autofocus required>
          </div>
          <div class="required field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" autocomplete="current-password" required>
          </div>
          <button class="ui submit button" type="submit">Submit</button>
        </form>
      </div>
</div>