{{> nav}}
<div class="ui container">
    <h1>Login</h1>
    <form action="/login" method="POST" class="ui form">
        <div class="field">
            <label>Email address:</label>
            <input type="email" name="email" />
        </div>
        <div class="field">
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
    </form>
</div>